@import "lib.less";

/************************************************
COMMENT HEADER
************************************************/

#header {
  width: 100%;
  height: 96px;
  border: 1px solid rgba(0,0,1,.13); /* stroke */
  background-color: @color-green; /* layer fill content */
  -moz-box-shadow: inset 0 -1px 0 @color-white; /* inner shadow */
  -webkit-box-shadow: inset 0 -1px 0 @color-white; /* inner shadow */
  box-shadow: inset 0 -1px 0 @color-white; /* inner shadow */
  position: relative;
  z-index: 7;

  #register {
    margin: 15px;
    display: inline-block;
    position: absolute;
  }

  #login {
    display: inline-block;
    position: absolute;
    right: 90px;
    top: 15px;
  }

  .logo {
    height: 132px;
    width: 213px;
    background: url(../img/logo.png);
    margin: 0 auto;
    text-indent: -99999px;

    a {
      display: block;
      height: 132px;
      width: 213px;
    }
    
  }

  #menu {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #FFF;
    height: 33px;
    width: 33px;
    background: url(../img/about.png) no-repeat center;
    text-indent: -99999px;
    opacity: .5;
  }

  #menu:hover, #menu.active {
    opacity: 1;
  }

}

.sidebar {
  background: @color-grey-light;
  width: 290px;
  position: relative;
  z-index: 6;

  #trucks {
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #DDD;

    li {
       a {
         color: @color-grey-dark;
         padding: 30px 25px;
         display: block;
         font-size: 16px;
         font-weight: 500;

         span {
           float: right;
           font-weight: normal;
           font-size: 12px;
           font-weight: 700;
           color: #00A133;
         }
       }
      a:hover {
        background: #EEE;
      }

    }
    li.selected {
      background: @color-green;
      position: relative;

      a, span {
        color: @color-white;
        position: relative;
        }

      a:hover {
        background: @color-green;
      }


    }

    li.selected:after {
      position: absolute;
      right: -22px;
      top: 0;
      display: block;
      height: 75px;
      background: url(../img/truck-li-selected.png) no-repeat right;
      width: 22px;
      content: "";
    }

    li.inactive {
      opacity: .4;

      span {
        color: #e52222;
      }

      a:hover {
        background: none;
      }

    }

  }

  .copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 11px;
    color: #666;
    margin: 15px 0;
    opacity: 0;
  }

  .copyright.active {
    opacity: 1;
  }

}

.truck-content {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background: #4A4A4A;
  z-index: 5;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate3d(-70%, 96px, 0);
  transform: translate3d(-700%, 96px, 0);

  .close {
    height: 25px;
    cursor: pointer;
    width: 25px;
    display: block;
    border-radius: 50%;
    color: #444;
    font-weight: 500;
    position: absolute;
    font-size: 14px;
    right: 15px;
    top: 185px;
    background: #FFF;
    text-align: center;
    line-height: 25px;
  }

  .close:hover {
    background: #77973B;
  }

  .content {
    padding: 25px;

    h1 {
      color: #FFF;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      margin: 0 0 15px 0;
    }

    .description {
      color: #FFF;
      font-size: 12px;
      line-height: 22px;
    }

    .phone {
      padding: 10px 0 10px 30px;
      color: #FFF;
      font-weight: 500;
      margin: 15px 0;
      font-size: 12px;
      background: url(../img/phone.png) no-repeat left center;
    }

  }

}

.truck-content.active {
  -webkit-transform: translate3d(290px, 96px, 0);
  transform: translate3d(290px, 96px, 0);
  opacity: 1;
  height: 100%;
}

.map {
  left: 290px;
  right: 0;
  display: block;
  position: absolute;
  top: 96px;
  background: #FFF;

  #map-canvas {
    height: 100%;
    width: 100%;
  }

}

.container {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 5;
}

.container.active {
  -webkit-transform: translate3d(-480px, 0, 0);
  transform: translate3d(-480px, 0, 0);
}

#nav {
  width: 480px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: @color-green-dark;
  padding: 35px;
  overflow: scroll;

  h1 {
    color: @color-white;
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 25px;
  }

  p {
    color: #FFF;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 15px;
  }


  .youcantsueus {
    font-size: 11px;
    line-height: 15px;
    font-style: italic;
  }

  .person {
    margin: 25px 0;
    padding: 25px 0;
    border-bottom: 1px solid #586b35;


    h2 {
      color: @color-white;
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 10px;

      span {
        font-weight: normal;
        font-size: 11px;
        font-style: italic;
        float: right;
      }
    }

    p {
      font-size: 12px;
      line-height: 17px;
    }


  }


  .headshot {
    height: 80px;
    width: 80px;
    float: left;
    border-radius: 50%;
    margin: 0 15px 25px 0;

    img {
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }

  }

}


@media screen and (max-width: 780px) {

  #header {
    height: 44px;

    .back {
      background: url(../img/backbtn.png) no-repeat center;
      -webkit-background-size: 20px 20px;
      height: 25px;
      width: 25px;
      position: absolute;
      display: block;
      text-indent: -9999px;
      top: 7px;
      left: 15px;
      opacity: 0;
    }

    .back.active {
      opacity: 1;
    }

    .addTruck {
      background: url(../img/addTruck.png) no-repeat center;
      -webkit-background-size: 35px 35px;
      height: 35px;
      width: 35px;
      position: absolute;
      display: block;
      text-indent: -9999px;
      top: 3px;
      right: 15px;
    }
    #menu { display: none; }
    #login { display: none; }
    #register { display: none; }

    .logo {
      height: 60px;
      width: 97px;
      background: url(../img/logo.png);
      -webkit-background-size: 97px 60px;
      margin: 0 auto;
      text-indent: -99999px;

      a {
        height: 60px;
        width: 97px;
      }

    }
  }

  .sidebar {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);

    li.selected:after {
      display: none !important;
    }


  }

  .truck-content {
    width: 100%;
    height: auto !important;
    min-height: auto !important;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;

    img {
      display: none;
    }

    .close {
      right: 15px;
      left: auto;
      top: 15px;
    }

  }

  .truck-content.active {
    -webkit-transform: translate3d(0, 90%, 0);
    transform: translate3d(0, 90%, 0);
    z-index: 100;
    opacity: 1;
  }
  .sidebar.active {
    -webkit-transform: translate3d(-100%, 0px, 0);
    transform: translate3d(-100%, 0, 0);
  }

  #nav { display: none; }

  .map {
    left: 0;
    top: 0;
    right: 0;
  }

  }

