/************************************************
FONT CHOICES
************************************************/
/*

{paste all web font choices here for easy reference}

*/
/************************************************
DEBUGGING - Mixins for easy debugging
************************************************/
/************************************************
COLORS
************************************************/
/************************************************
MIX-INS
************************************************/
/************************************************
CUSTOM ELEMENTS - Global assets
************************************************/
@font-face {
  font-family: 'icons';
  src: url('../lib/fonts/icons.eot');
  src: url('../lib/fonts/icons.eot?#iefix') format('embedded-opentype'), url('../lib/fonts/icons.woff') format('woff'), url('../lib/fonts/icons.ttf') format('truetype'), url('../lib/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
