/************************************************
FONT CHOICES
************************************************/
/*

{paste all web font choices here for easy reference}

*/
/************************************************
DEBUGGING - Mixins for easy debugging
************************************************/
/************************************************
COLORS
************************************************/
/************************************************
MIX-INS
************************************************/
/************************************************
CUSTOM ELEMENTS - Global assets
************************************************/
@font-face {
  font-family: 'icons';
  src: url('../lib/fonts/icons.eot');
  src: url('../lib/fonts/icons.eot?#iefix') format('embedded-opentype'), url('../lib/fonts/icons.woff') format('woff'), url('../lib/fonts/icons.ttf') format('truetype'), url('../lib/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/************************************************
COMMENT HEADER
************************************************/
.secondary {
  background: #77973b;
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
}
.secondary .logo {
  height: 132px;
  width: 213px;
  background: url(../img/logo.png);
  margin: 50px auto 25px;
  text-indent: -99999px;
}
.secondary .logo a {
  display: block;
  height: 132px;
  width: 213px;
}
.secondary input {
  padding: 10px;
  color: #999;
  width: 320px;
  margin: 8px 0;
}
.secondary .button {
  top: 40px;
  width: 250px;
}
.secondary #sign-up {
  margin-right: 25px;
}
.secondary h1 {
  font-size: 28px;
  color: #FFF;
  font-weight: 500;
  text-transform: uppercase;
}
.secondary p {
  font-size: 15px;
  line-height: 21px;
  margin: 15px 0 25px;
  color: #FFF;
  font-weight: 300;
}
.secondary .signup input {
  width: 390px;
}
