@import "lib.less";

/************************************************
COMMENT HEADER
************************************************/

.secondary {
  background: @color-green;
  font-family: @font-gotham;

  .logo {
    height: 132px;
    width: 213px;
    background: url(../img/logo.png);
    margin: 50px auto 25px;
    text-indent: -99999px;

    a {
      display: block;
      height: 132px;
      width: 213px;
    }
  }

  input {
    padding: 10px;
    color: #999;
    width: 320px;
    margin: 8px 0;
  }

  .button {
    top: 40px;
    width: 250px;
  }

  #sign-up {
    margin-right: 25px;
  }

  h1 {
    font-size: 28px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
  }

  p {
    font-size: 15px;
    line-height: 21px;
    margin: 15px 0 25px;
    color: #FFF;
    font-weight: 300;
  }
  .signup {

    input {
      width: 390px;
    }

  }
}