/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3/box-shadow";

@import "normalize";


$color-green: #77973b;
$color-green-slight-dark: darken($color-green,2%);
$color-green-med-dark: darken($color-green, 8%);
$color-green-dark: darken($color-green,20%);
$color-green-light: lighten($color-green,10%);

$color-white: #FFFFFF;
$color-grey-light: #F7F7F7;
$color-grey-dark: #737373;

body {
    font-size:16px;
}

body, html, .content-wrapper {
    height: 100%;
}

a, button {
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}

* {
    outline:none;
}

.green-bg {
    height:100%;
    background-color:#77973b;
    padding:0 10%;
}

.login-wrapper {
    text-align:center;
    position: absolute;
    left: 50%;
    top: 50%;

    @include transform(translate(-50%, -50%));

    width: 90%;
    max-width:400px;
    height: 100%;
    header {
        padding:4em 0 1em ;
        width:100%;
        #logo {
            width:100%;
            height:94px;
            background:url('../img/logo.png') no-repeat top center;

        }
        /*
        img {
            max-width: 100%;
            height: auto;
        }
        */
    }
    form {
        margin:2em 0;
    }
    input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border:none;
        padding:.7em .6em;
        font-size:87.5%;
        line-height:1.25em;
        @include border-radius(3px);
        width:100%;
        //border:1px solid $color-green-slight-dark;
        @include box-shadow(0 1px 0 $color-green-med-dark);
        @include transition(background .1s ease-in);
        &.input-alert {
            background-color:#cdf1fe;
        }
    }
    button {
        font-weight: 700;
        display:block;
        background-color: $color-green-light;
        @include border-radius(3px);
        border:none;
        padding:1.2em 0;
        line-height:1.25em;
        font-size:.7em;
        text-transform: uppercase;
        color:$color-white;
        width:100%;
        &:hover, &:focus {
            background: $color-green-med-dark;
        }
        &:active {
            background: $color-green-dark;
        }
    }
    footer {
        position:absolute;
        bottom:.8em;
        width:100%;
        text-align:center;
        a {
            color:#ffffff;
            font-size:.8em;
            text-decoration:none;
        }
    }

}

.input-block {
    margin:.4em 0 .8em;
}

#submit-btn {
    margin:1em 0 0;
}

.hidden {
    display: none;
}
