@import "lib.less";

/************************************************
RESET
************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-family: @font-gotham;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* IE8 BOX SIZING HACK FOR INPUTS */
.lt-ie9 input, .lt-ie9 textarea {
  box-sizing: border-box !important;
}

a {
  color: @color-green;
  text-decoration: none;
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}

a:hover {
  color: @color-green;
}



/************************************************
ICON FONTS
************************************************/



/************************************************
TOP LEVEL AND GLOBAL CLASSES
************************************************/
.button {
  padding: 20px 40px;
  font-size: 12px;
  font-family: @font-gotham;
  font-weight: 700;
  background: @color-green-dark;
  color: @color-white;
  border: 4px solid transparent;
  border-radius: @corners;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  top: 0;

  opacity: .5;
}

.button.white {
  background: #FFF;
  color: @color-green;
}

.button.transparent {
  background: none;
  border-color: #FFF;
  color: #FFF;
}

.button:hover {
  background: darken(@color-green-dark,20%);
  color: @color-white;
}

.button.white:hover {
  top: -5px;
  background: @color-white;
  color: @color-green;
}

.button.transparent:hover {
  background: none;
  opacity: 1;
}

/************************************************
Animations
************************************************/
.animated {
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

/************************************************
MEDIA QUERIES
************************************************/

.mobile { display: none; }

.centered {
  text-align: center;
}

#message-error {
  background-color: red;
  padding: 4px;
  color: #FFF;
}