/************************************************
FONT CHOICES
************************************************/
/*

{paste all web font choices here for easy reference}

*/
/************************************************
DEBUGGING - Mixins for easy debugging
************************************************/
/************************************************
COLORS
************************************************/
/************************************************
MIX-INS
************************************************/
/************************************************
CUSTOM ELEMENTS - Global assets
************************************************/
@font-face {
  font-family: 'icons';
  src: url('../lib/fonts/icons.eot');
  src: url('../lib/fonts/icons.eot?#iefix') format('embedded-opentype'), url('../lib/fonts/icons.woff') format('woff'), url('../lib/fonts/icons.ttf') format('truetype'), url('../lib/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/************************************************
RESET
************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* IE8 BOX SIZING HACK FOR INPUTS */
.lt-ie9 input,
.lt-ie9 textarea {
  box-sizing: border-box !important;
}
a {
  color: #77973b;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
a:hover {
  color: #77973b;
}
/************************************************
ICON FONTS
************************************************/
/************************************************
TOP LEVEL AND GLOBAL CLASSES
************************************************/
.button {
  padding: 20px 40px;
  font-size: 12px;
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
  font-weight: 700;
  background: #3d4e1e;
  color: #ffffff;
  border: 4px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  top: 0;
  opacity: .5;
}
.button.white {
  background: #FFF;
  color: #77973b;
}
.button.transparent {
  background: none;
  border-color: #FFF;
  color: #FFF;
}
.button:hover {
  background: #030402;
  color: #ffffff;
}
.button.white:hover {
  top: -5px;
  background: #ffffff;
  color: #77973b;
}
.button.transparent:hover {
  background: none;
  opacity: 1;
}
/************************************************
Animations
************************************************/
.animated {
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
/************************************************
MEDIA QUERIES
************************************************/
.mobile {
  display: none;
}
.centered {
  text-align: center;
}
