/************************************************
FONT CHOICES
************************************************/
/*

{paste all web font choices here for easy reference}

*/
@font-gotham: 'Gotham A', 'Gotham B', Helvetica, Arial;


/************************************************
DEBUGGING - Mixins for easy debugging
************************************************/


/************************************************
COLORS
************************************************/

@color-green: #77973b;
@color-green-dark: darken(@color-green,20%);
@color-green-light: lighten(@color-green,10%);

@color-white: #FFFFFF;
@color-grey-light: #F7F7F7;
@color-grey-dark: #737373;
/************************************************
MIX-INS
************************************************/




/************************************************
CUSTOM ELEMENTS - Global assets
************************************************/
@corners: 4px;

@font-face {
  font-family: 'icons';
  src:url('../lib/fonts/icons.eot');
  src:url('../lib/fonts/icons.eot?#iefix') format('embedded-opentype'),
  url('../lib/fonts/icons.woff') format('woff'),
  url('../lib/fonts/icons.ttf') format('truetype'),
  url('../lib/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}