/************************************************
FONT CHOICES
************************************************/
/*

{paste all web font choices here for easy reference}

*/
/************************************************
DEBUGGING - Mixins for easy debugging
************************************************/
/************************************************
COLORS
************************************************/
/************************************************
MIX-INS
************************************************/
/************************************************
CUSTOM ELEMENTS - Global assets
************************************************/
@font-face {
  font-family: 'icons';
  src: url('../lib/fonts/icons.eot');
  src: url('../lib/fonts/icons.eot?#iefix') format('embedded-opentype'), url('../lib/fonts/icons.woff') format('woff'), url('../lib/fonts/icons.ttf') format('truetype'), url('../lib/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/************************************************
COMMENT HEADER
************************************************/
.secondary {
  background: #77973b;
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, Arial;
}
.secondary .logo {
  height: 132px;
  width: 213px;
  background: url(../img/logo.png);
  margin: 50px auto 25px;
  text-indent: -99999px;
}
.secondary .logo a {
  display: block;
  height: 132px;
  width: 213px;
}
.secondary input,
.secondary textarea,
.secondary select {
  padding: 10px;
  color: #999;
  width: 390px;
  margin: 8px 0;
  border: 1px solid transparent;
}
.secondary label {
  font-size: 14px;
  color: #FFF;
  margin: 20px 0 10px;
  font-weight: 500;
  display: block;
}
.secondary .button {
  top: 40px;
  width: 250px;
}
.secondary #sign-up {
  margin-right: 25px;
}
.secondary h1 {
  font-size: 22px;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
}
.secondary p {
  font-size: 15px;
  line-height: 21px;
  margin: 15px 0 25px;
  color: #FFF;
  font-weight: 300;
}
.secondary .signup input,
.secondary .signup textarea,
.secondary .signup select {
  width: 100%;
}
.secondary .ctas {
  padding-bottom: 200px;
}
@media screen and (max-width: 780px) {
  .ctas {
    text-align: center;
  }
  .ctas .button {
    display: block;
    text-align: center;
    margin: 0 auto 25px;
    width: 100%;
    clear: both;
  }
  #login-form input {
    width: 100%;
  }
  #login-form .button {
    display: block;
    width: 100%;
    margin: -10px 0 20px 0;
  }
}
