@import "lib.less";

/************************************************
COMMENT HEADER
************************************************/

.secondary {
  background: @color-green;
  font-family: @font-gotham, Arial;

  .logo {
    height: 132px;
    width: 213px;
    background: url(../img/logo.png);
    margin: 50px auto 25px;
    text-indent: -99999px;

    a {
      display: block;
      height: 132px;
      width: 213px;
    }
  }

  input, textarea, select {
    padding: 10px;
    color: #999;
    width: 390px;
    margin: 8px 0;
    border: 1px solid transparent;
  }

  label {
    font-size: 14px;
    color: #FFF;
    margin: 20px 0 10px;
    font-weight: 500;
    display: block;
  }

  .button {
    top: 40px;
    width: 250px;
  }

  #sign-up {
    margin-right: 25px;
  }

  h1 {
    font-size: 22px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    font-size: 15px;
    line-height: 21px;
    margin: 15px 0 25px;
    color: #FFF;
    font-weight: 300;
  }
  .signup {

    input, textarea, select {
      width: 100%;
    }

  }
  .ctas {
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 780px) {

    .ctas {
      text-align: center;
    }

   .ctas .button {
     display: block;
     text-align: center;
     margin: 0 auto 25px;
     width: 100%;
     clear: both;
   }

   #login-form input {
     width: 100%;
   }

   #login-form .button {
     display: block;
     width: 100%;
     margin: -10px 0 20px 0;
   }

}