
/*
@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    body {
        font-size:24px;
    }
    .login-wrapper {
        form {
            margin:1em 0;
        }
        #logo {
            padding:4.5em 0 3.9em ;
            img {
                content:url("../img/logo@2x.png");
            }
        }
        footer {
            bottom:.5em;
        }

    }
    .input-block {
        margin:.2em 0 .6em;
    }
    #submit-btn {
        margin:.8em 0 0;
    }
}
*/
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    body {
        font-size:16px;
    }
    .login-wrapper {
        #logo {
            padding:.5em 0;
        }
        form {
            margin: 0;
        }
        footer {
            bottom:.5em;
        }

    }
    .input-block {
        margin:.2em 0 .6em;
    }
    #submit-btn {
        margin:.8em 0 0;
    }
}

@media only screen and (max-width : 320px) {
    .login-wrapper {
        form {
            margin:2em 0;
        }
        #logo {
            padding:2em 0 3em ;
        }
        footer {
            bottom:.5em;
        }

    }
    .input-block {
        margin:.2em 0 .6em;
    }
    #submit-btn {
        margin:.8em 0 0;
    }
}
